<!DOCTYPE html>
<html>
    <head>
        <style>
            a {
  background-color: navy;
  color: white;
  border-radius: 25px;  
  padding: 1em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #555;
}

a:active {
  background-color: black;
}

a:visited {
  background-color: #ccc;
}
div.b {
  text-align: center;
}
        </style>
    </head>
<body>
  <div class="b">
    <h1 style="color:navy" font-family: Helvetica, sans-serif> Quiz Score: {{score}}%</h1>
    <p>you missed: {{missed}} questions</p>
    </div>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS39IiG2peawQY3DnP3-y9q9h8sWTxY0cBSkA&usqp=CAU" alt="Improvement" width="460" height="345">
<br><br><br><br><br>
<a href="index" style="color:yellow"></a>
    Main Menu 
  </a>
</body>
</html>
