<html>

<head>
</head>
<link rel="stylesheet" href="landing.css">

<body>
    <div class="flip-box" id="github">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="github.jpeg" id="github" width="100" class="img-responsive img-rounded">
            </div>
            <div class="flip-box-back">
                <h2>Github</h2>
                <p>An Advance development platform used to:
                    <br>-collaborator
                    <br>-automate your workflow
                    <br>-implement continuous intergration
                    <br>-store public / private repostitories
                </p>
            </div>
        </div>
    </div>

    <div class="flip-box" id="css">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="css.jpeg" id="css" width="100" class="img-responsive img-rounded">
            </div>
            <div class="flip-box-back">
                <h2>CSS</h2>
                <p>Cascading Style Sheets
                    <br>
                    <br> The style sheet language used to style an HTML document.
                </p>
            </div>
        </div>
    </div>

    <div class="flip-box" id="html">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="html.jpeg" id="html" width="100" class="img-responsive img-rounded" style="object-fit: fill">
            </div>
            <div class="flip-box-back">
                <h2>HTML</h2>
                <p>HyperText Markup Language
                    <br>
                    <br> the code that is used to structure a web page and its content.
                </p>
            </div>
        </div>
    </div>


    <div container id="review">
        <img src="review.jpeg" width="550" height="350" class="img-responsive img-rounded">
        <a href=login.html><button class="button button1" onclick="move_forward()">Login or Signup</button></a>
        <a href=eir.html><button class="button button2" onclick="move_info()">About E.I.R. </button></a>
    </div>


    <div class="flip-box " id="postgres">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="postgres.jpeg" id="postgres" width="100" class="img-responsive img-rounded">
            </div>
            <div class="flip-box-back">
                <h2>postgres</h2>
                <p>Open source object-relational database that can be implemented in python using SQLAlchemey.</p>
            </div>
        </div>
    </div>

    <div class="flip-box" id="heroku">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="heroku.jpeg" al id="heroku" width="100" class="img-responsive img-rounded">
            </div>
            <div class="flip-box-back">
                <h2>Heroku</h2>
                <p>A cloud application platform that manages the web deployment process by providing:
                    <br>-a domain name
                    <br>-a server
                    <br>provisioning
                </p>
            </div>
        </div>
    </div>

    <div class="flip-box" id="flask">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="flask.jpeg" id="flask" width="100" class="img-responsive img-rounded">
            </div>
            <div class="flip-box-back">
                <h2>Flask</h2>
                <p>A micro web framework for deploying web applications using Python and Jinja2.</p>
            </div>
        </div>
    </div>

    <script>
        $('#login-click').on('click', function(e) {
            {
                {
                    button_click()
                }
            }
        });
        $('#summary-click').on('click', function(e) {
            {
                {
                    button_click()
                }
            }
        });
    </script>
</body>



</html>
